In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("insurance.csv")

In [43]:
df.head()
df.count()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1338 non-null   int64
 1   sex        1338 non-null   int64
 2   bmi        1338 non-null   float64
 3   children   1338 non-null   int64
 4   smoker     1338 non-null   int64
 5   charges    1338 non-null   float64
 6   northeast  1338 non-null   uint8
 7   northwest  1338 non-null   uint8
 8   southeast  1338 non-null   uint8
 9   southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

In [4]:
df['sex'] = df['sex'].replace({'female':0, 'male':1})

In [9]:
df.region.unique()
dum = pd.get_dummies(df['region'], drop_first=False)

In [13]:
df = df.drop('region', axis=1)
df = pd.concat([df, dum], axis=1)

In [14]:
df.head()

,age,sex,bmi,children,smoker,charges,northeast,northwest,southeast,southwest
0,19,0,27.900,0,yes,16884.92400,0,0,0,1
1,18,1,33.770,1,no,1725.55230,0,0,1,0
2,28,1,33.000,3,no,4449.46200,0,0,1,0
3,33,1,22.705,0,no,21984.47061,0,1,0,0
4,32,1,28.880,0,no,3866.85520,0,1,0,0

In [15]:
df['smoker'] = df['smoker'].replace({'yes':1, 'no':0})

In [18]:
df.corr()['charges']

age          0.299008
sex          0.057292
bmi          0.198341
children     0.067998
smoker       0.787251
charges      1.000000
northeast    0.006349
northwest   -0.039905
southeast    0.073982
southwest   -0.043210
Name: charges, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

K Nearest Neighbor

In [22]:
X = df.drop(['charges'], axis=1)
y = df['charges']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [36]:
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)
pred = knn.predict(X_test)

In [37]:
print('MAE:', mean_absolute_error(pred, y_test))
print('MSE:', mean_squared_error(pred, y_test))

MAE: 7688.1018020429865
MSE: 123382366.64570358

Linear Regression

In [38]:
X = df.drop(['charges'], axis=1)
y = df['charges']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [39]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lrpred = lr.predict(X_test)

In [40]:
print('MAE:', mean_absolute_error(lrpred, y_test))
print('MSE:', mean_squared_error(lrpred, y_test))

MAE: 4193.4630219321425
MSE: 35090225.725625664